.card div > img {
    width: 40%;
}

.card-img {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
}

.card-content {
    text-align: center;
}

.match-card {
    height: 250px;
    width: 300px;
    border: 1px solid grey;
    border-radius: 10px;
}
