* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

/* Hero Section */
#hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
}
.hero-contant {
    width: 80%;
    height: 80%;
    background-color: black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 0 100px;
}

.hero-image > img {
    margin-top: 227px;
}

h1 {
    font-size: 3rem;
}

p {
    color: rgb(199, 199, 199);
}

.btn {
    margin-top: 20px;
    padding: 20px 15px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 800;
    color: white;
    background-color: #277bc0;
}

/* Blogs Section */
#blog-container {
    margin: 50px 120px;
    display: flex;
    justify-content: space-between;
}
.navigation {
    height: 320px;
    width: 20%;
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.card {
    height: 370px;
    width: 300px;
    border: 1px solid grey;
    border-radius: 10px;
}

.card img {
    width: 100%;
}

.card-btn {
    padding: 12px 15px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
}

.card-content {
    padding: 10px;
}

.card-icons {
    display: flex;
}

.card-icons > p {
    margin-right: 20px;
}

.card-description {
    margin: 10px 0;
}

/* Footer Section */
footer {
    height: 300px;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer > div> h2 {
    text-align: center;
    font-size: 2.5rem;
}

footer > div > hr {
    margin: 30px 0;
}
.terms-links {
    display: flex;
    text-align: center;
    justify-content: center;
}

.terms-links > p {
    padding: 0 15px;
    cursor: pointer;
}

.terms-links > a > i {
    font-size: 2rem;
    color: white;
    margin: 0 20px;
}
