* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

/* Hero Section */
#hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
}
.hero-contant {
    width: 80%;
    height: 80%;
    background-color: black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 0 100px;
}

.hero-image > img {
    margin-top: 227px;
}

h1 {
    font-size: 3rem;
}

p {
    color: rgb(199, 199, 199);
}

.btn {
    margin-top: 20px;
    padding: 20px 15px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 800;
    color: white;
    background-color: #277bc0;
}

/* Blogs Section */
#blog-container {
    margin: 50px 120px;
    display: flex;
    justify-content: center;
}
.navigation {
    height: 320px;
    width: 20%;
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
}

.navigation > a {
    text-decoration: none;
    display: block;
}

.navigation > a:active {
    background-color: white;
    color: black;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-content: center;
}
.card {
    height: 370px;
    width: 250px;
    border: 1px solid grey;
    border-radius: 10px;
}

.card img {
    width: 100%;
}

.card-btn {
    padding: 12px 15px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
}

.card-content {
    padding: 10px;
}

.card-icons {
    display: flex;
}

.card-icons > p {
    margin-right: 20px;
}

.card-description {
    margin: 10px 0;
}

/* Footer Section */
footer {
    height: 300px;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer > div > h2 {
    text-align: center;
    font-size: 2.5rem;
}

footer > div > hr {
    margin: 30px 0;
}
.terms-links,
.terms-social {
    display: flex;
    text-align: center;
    justify-content: center;
}

.terms-links > p {
    padding: 0 15px;
    cursor: pointer;
}

.terms-social > a > i {
    font-size: 2rem;
    color: white;
    margin: 0 20px;
}

/* Responsive */
@media screen and (max-width: 464px) and (min-width: 10px) {
    .hero-contant {
        width: 100%;
        height: 100%;
        background-color: black;
        border-radius: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        padding: 0 10px;
    }
    .hero-contant > div > h1 {
        font-size: 40px;
    }
    .hero-image > img {
        margin-top: 60px;
    }

    #blog-container {
        margin: 50px 120px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .navigation {
        height: 320px;
        width: 100%;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 30px;
    }
    .navigation > a {
        text-decoration: none;
        width: 100%;
        text-align: center;
    }
    .cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    footer {
        height: 400px;
    }
    .terms-links {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
}

@media screen and (max-width: 576px) and (min-width: 465px) {
    .hero-contant {
        width: 100%;
        height: 100%;
        background-color: black;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        padding: 0 10px;
    }

    .hero-image > img {
        margin-top: 60px;
    }

    #blog-container {
        margin: 50px 120px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .navigation {
        height: 320px;
        width: 100%;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 30px;
    }
    .navigation > a {
        text-decoration: none;
        width: 100%;
        text-align: center;
    }
    .cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    footer {
        height: 400px;
    }
    .terms-links {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
}

/* @media only screen and (max-width: 610px) {
    #hero-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 800px;
    }
    .hero-contant {
        width: 80%;
        height: 80%;
        background-color: black;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        padding: 0 0px;
    }

    .hero-image > img {
        margin-top: 0;
    }
} */

@media screen and (max-width: 768px) and (min-width: 577px) {
    #hero-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 900px;
    }
    .hero-contant {
        width: 90%;
        height: 80%;
        background-color: black;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        padding: 0 50px;
    }
    .hero-contant > div > h1 {
        margin-top: 50px;
    }
    .hero-image > img {
        margin-top: 25px;
    }
    #blog-container {
        margin: 50px 120px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .navigation {
        height: 120px;
        width: 100%;
        background-color: white;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
        padding: 5px;
        border-radius: 10px;
        margin-bottom: 30px;
    }
    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
}
@media screen and (max-width: 992px) and (min-width: 768px) {
    #hero-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 900px;
    }
    .hero-contant {
        width: 90%;
        height: 80%;
        background-color: black;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        padding: 0 50px;
    }
    .hero-contant > div > h1 {
        margin-top: 50px;
    }
    .hero-image > img {
        margin-top: 25px;
    }

    #blog-container {
        margin: 50px 120px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .navigation {
        height: 120px;
        width: 100%;
        background-color: white;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
        padding: 5px;
        border-radius: 10px;
        margin-bottom: 30px;
    }
}

/* @media only screen and (max-width: 768px) {
    #blog-container {
        margin: 50px 120px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .navigation {
        height: 120px;
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-radius: 10px;
    }
    .navigation > a {
        margin-left: 20px;
    }
    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    footer {
        height: 300px;
        width: 100%;
        background-color: black;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (max-width: 992px) {
    #hero-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 700px;
    }
}



/* @media only screen and (max-width: 1024px) and (min-width: 576px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
}  */
